data/CoPath_All_pdfs/2022/PDMReport.20221128020217.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221129020211.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221130020300.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221201020200.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221202020220.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221205020222.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221206020254.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221207020257.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221208020252.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221212110058.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221212110116.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221212110132.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221212110142.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221212110152.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221212110157.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221213020540.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221214020823.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221215020504.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221216020530.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221219020759.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221220020139.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221221020217.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221222020245.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221223020310.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221226020355.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221228020139.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221229020254.pdf
data/CoPath_All_pdfs/2022/PDMReport.20221230020223.pdf
table/extracted_tables/CoPath_OncoKids_All/.DS_Store
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_C22-264_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_C22-264_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_C22-285_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_C22-317_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4057_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4057_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4109_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4109_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4109_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4109_table_camelot_4.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4304_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4304_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4304_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4485_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4485_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4485_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4497_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4497_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4497_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4504_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4737_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4737_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4781_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4781_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_H22-4781_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S19-5499_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S19-5499_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S19-5499_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S21-4184_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S21-4184_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S21-4186_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S21-4186_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-3875_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-3875_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-3875_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4298_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4298_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4298_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4750_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4750_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4850_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4900_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4900_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4942_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4942_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-4942_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5067_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5215_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5215_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5279_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5279_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5319_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5345_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5345_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5375_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5424_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5424_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5443_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5480_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5480_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5480_table_camelot_3.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5577_table_camelot_1.csv
table/extracted_tables/CoPath_OncoKids_All/OncoKids_2022_S22-5577_table_camelot_2.csv
table/extracted_tables/CoPath_OncoKids_All/pdfs_with_no_tables.csv
table/extracted_tables/CoPath_OncoKids_All/integrated_CMA_table/integrated_CMA_table.csv
table/extracted_tables/CoPath_OncoKids_All/integrated_DNA_table/integrated_DNA_table_update.csv
table/extracted_tables/CoPath_OncoKids_All/integrated_DNA_table/integrated_DNA_table.csv
table/extracted_tables/CoPath_OncoKids_All/integrated_DNA_table/integrated_RNA_table.csv
table/extracted_tables/CoPath_OncoKids_All/integrated_RNA_table/integrated_RNA_table_update.csv
table/extracted_tables/CoPath_OncoKids_All/integrated_RNA_table/integrated_RNA_table.csv
data/CoPath_All_pdfs/OncoKids_split/.DS_Store
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_C22-264.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_C22-285.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_C22-317.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4057.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4109.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4304.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4485.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4497.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4504.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4737.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_H22-4781.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S19-5499.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S21-4184.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S21-4186.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-3875.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4180.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4298.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4649.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4697.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4750.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4850.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4900.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-4942.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5046.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5067.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5162.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5172.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5215.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5279.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5289.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5319.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5343.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5345.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5375.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5424.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5443.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5480.pdf
data/CoPath_All_pdfs/OncoKids_split/OncoKids_2022_S22-5577.pdf
data/CoPath_All_pdfs/OncoKids_split/oncokids_report_summary.csv


# Created by https://www.toptal.com/developers/gitignore/api/macos,python,jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,python,jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### macOS Patch ###
# iCloud generated files
*.icloud

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook

# IPython

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

### Python Patch ###
# Poetry local configuration file - https://python-poetry.org/docs/configuration/#local-configuration
poetry.toml

# ruff
.ruff_cache/

# LSP config files
pyrightconfig.json

# End of https://www.toptal.com/developers/gitignore/api/macos,python,jupyternotebooks
